body {
	height: 100%;
	padding: 0px;
	margin: 0 auto;
	width: 100%;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	font-family: "GothamLight", "GothamBook", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	line-height: 1.4em;
	font-weight: normal;
  text-align: center;
  background-color: #030508
}

.jumbotron-billboard .img {
  margin-bottom: 0px;

  background: #000 url("../images/milkyway.jpg") top center no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
}
.jumbotron h2 {margin-top:0;}
.jumbotron {
position:relative;
padding-top:50px;
padding-bottom:50px;
}
.jumbotron  {
position:relative;
z-index:2;
}

@media screen and (max-width: 768px) {
.jumbotron {
  padding-top:20px;
  padding-bottom:20px;
}
}



header {
  background-color: #20232a;
  padding: 1px;
  text-align:left;
  margin-bottom: 2px;
}

header > img {
  height: 70px;
}
/* #logo-fade{
  position: absolute;
  margin: 0 auto;
  opacity: 0;
  z-index: 10;
  margin: 50px 0px 0px -15px;
  text-align: center;
  width: 100%;
}
#logo-fade img{
  width: 80%;
  margin: 0px -15px 0px 0px;
} */

.card {
  background-color: #8dee1e;
  border-radius: 10px;
  box-sizing: border-box;
  width: 580px;
  height:300px;
}

.explaination {
  background-color: #e5f31d;
  /* box-sizing: border-box; */
  width: 580px;
  height:550px;
  text-align: center;
}






 /* RESETS */
 *::before, *::after,
*:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::before, .clearfix::after,
.container::before, .container::after,
.row::before, .row::after,
.row:before,.row:after{
    content: " ";
    display: table;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
    display: block;
}

img,
object,
embed {max-width: 100%;}

/* IMPORTED FONTS - GOOGLE FONT */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat'); */




#btn-group{
    margin: 15px auto;
    text-align: center;
}

[type=checkbox].subject-Check{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.check-name{
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
}

.btns{
    color: white;
    background-color: #20232a;
    height:40px;
    width:40px;
    margin: 0 auto;
    margin: 0px 10px 0px 10px;
}

.button:hover {
    background-color: #cdf51a;
}







